* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content:center;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}
main{
    padding: 3rem;
}

#card-main{
    max-width: 35rem; 
    border-radius: 8px 8px 15px 15px; 
    box-shadow: 5px 5px 10px 5px #00000088;
}


.card-header{
    padding-top: 1rem; 
    margin:8px;
    border: none;
}
.card-title{
    display: flex;
    justify-content:space-around;
}

.panel{
    color: #fff;
    width: 100% !important;
    padding-block-start: 6rem;
    border: groove 5px #fff;
    border-radius: 8px;
    background-color:rgba(6, 6, 6, 0.8);
}

.panel:placeholder-shown{/*alterar cor da barrinha de pesquisa kkk*/
    color: #ff0000;
    padding-left: 5px;
}

.panel::first-line{ /*alterar cor do placeholder*/
    color: #00d4ff;
    font-size:x-large;
    font-weight:900;
    padding-right:10px;
}


#btn-0,
#btn-1,
#btn-2,
#btn-3,
#btn-4,
#btn-5,
#btn-6,
#btn-7,
#btn-8,
#btn-9,
#btn-delete,
#btn-multiply,
#btn-subtract,
#btn-add,
#btn-equal{
    width: 5rem;
    border-color: #00d4ff;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    font-weight: 800;
    font-size: 1rem;
    box-shadow: 2px 1px 1px 2px #000000;
}

#btn-equal{
    width: 11.6rem;
    margin-left: 9px;
    margin-top: 13px;
}

#btns-grups{
    border: 5px inset #636363;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
}

#btn-ac,
#btn-parentheses,
#btn-percent,
#btn-divide,
#btn-decimal{
    width:4rem; 
    height:3rem;
    font-weight:1000;
    font-size:x-large;
} 


